.content{
    display: none;
}

.show-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 20px;
}

.toggleon{
    background-color: #F598B7;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 12px 16px;
    cursor: pointer;
}

.toggleoff{
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 12px 16px;
    cursor: pointer;
}

.toggleoff:hover{
    background-color: #DEDEDE;
}

